{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}

{# Master Page #}
{% extends 'master_page/masterpage_home.html' %}

{# Nội dung trang #}
{% block body_content %}
<div class="container">

</div>
{% endblock %}

{% block footer %}{{ parent() }}
<script>
$(function () {
	// Cập nhật Navbar
	var navbar_id = 'services';
	$('#ci_navbar_home').removeClass('active');
	$('#ci_navbar_' + navbar_id).addClass('active');
});

</script>
{% endblock %}