<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="100">
	<li id="nav-pills-home" role="presentation" class="active"><a href="{{ site_url('admin') }}">Dashboard</a></li>
	<li id="nav-pills-user" role="presentation"><a href="{{ site_url('admin/user') }}">Nhân viên</a></li>
	<li id="nav-pills-group" role="presentation"><a href="{{ site_url('admin/group') }}">Nhóm người dùng</a></li>
	<li id="nav-pills-customer" role="presentation"><a href="{{ site_url('admin/customer') }}">Khách hàng</a></li>
	<li id="nav-pills-car" role="presentation"><a href="{{ site_url('admin/car') }}">Xe</a></li>
	<li id="nav-pills-car-model" role="presentation"><a href="{{ site_url('admin/car/model') }}">Dòng Xe</a></li>
	<li id="nav-pills-car-manufacturer" role="presentation"><a href="{{ site_url('admin/car/manufacturer') }}">Hãng Xe</a></li>
</ul>