/**
 *
 * Chỉnh màu NAVBAR
 *
 */

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    border-bottom: 3px solid #ffc809;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffc809;
    background-color: #000;
    border-bottom: 3px solid #ffc809;
}
/**
 *
 * Chỉnh bố cục
 *
 */

.top-grids {
    padding: 5em 0;
    margin-top: -22px;
    background: url(../images/car.png) no-repeat 78% 71% #f5c34c;
}
.top-grids h3 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}
.top-grids h2 {
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    font-weight: bold;
}
.top-grids h4 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.top-grids ul li {
    display: inline-block;
    float: left;
}
.top-grids ul li a {
    display: block;
}
.what {
    padding: 25px 40px;
    font-size: 0.875em;
    text-transform: uppercase;
    background: #fff;
    color: #222;
}
.what:hover {
    background: #222;
    color: #fff;
}
.join {
    padding: 25px 40px;
    font-size: 0.875em;
    text-transform: uppercase;
    background: #222;
    color: #ffc809;
}
.join:hover {
    background: #ffc809;
    color: #222;
}
.mid-grids {
    padding: 4em 0 4em 0;
    color: #fff;
    background: url(../images/bottom-bg.png) no-repeat 50% 101% #222;
}
.mid-grid {
    float: left;
    width: 31.33%;
    margin-right: 2%;
    text-align: center;
}
.bottom-grids {
    padding: 6em 0 6em 0;
    background: #f5c34c;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.social-links {
    text-align: center;
}
.social-links ul li {
    display: inline-block;
}
.social-links ul li a {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 2em 0px 0px;
    font-weight: bold;
    display: inline-block;
}
.mobile-no {
    text-align: center;
}
.mobile-no span {
    font-size: 6em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 0.2em 0 0.1em 0;
    display: block;
}
.footer-logo {
    text-align: center;
}
.footer-logo a {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
}
.copy-right {
    text-align: center;
}
.copy-right p {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff
}
.copy-right a {
    color: #222;
    margin: 1em 0;
    display: inline-block;
}
.copy-right a:hover {
    color: #fff;
}
@media (max-width: 800px) {
    .top-grids {
        padding: 5em 0;
        margin-top: -22px;
        background: url(../images/car_mdpi.png) no-repeat 78% 71% #f5c34c;
    }
}
#ci_carousel_team {
    padding-top: 48px;
    padding-bottom: 48px;
}
#ci_carousel_team .carousel-indicators li {
    background-color: #ffc809;
}
#ci_carousel_team .carousel-indicators .active {
    background-color: #000;
}
#ci_carousel_team .carousel-caption {
    right: 0px;
    color: #000;
    text-align: right;
	text-shadow: 0 0 0;
}
#ci_carousel_team .img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: 200px;
}
#booking-form {
	background: url(../images/background-slider-1.jpg) no-repeat 100% 100% #f5c34c;
	padding: 25px;
}