<!--
 Chương trình quản lý Taxi
 Thiết kế bởi nhóm 1 lớp D13HT01
 Bao gồm các thành viên
 Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
-->

<!-- BEGIN: Thanh điều hướng -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ci_navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="{{ site_url('accountant/stat/') }}">
                            <i class="fa fa-taxi"></i> Dashboard
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="ci_navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="ci_navbar_home" class="active"><a href="#"><i class="fa fa-circle-o-notch fa-fw"></i> Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2" id="leftCol">
            <div class="sidebar-wrapper">
                <ul class="nav nav-stacked" id="sidebar">
                    <li role="presentation" class="active"><a href="#">Tổng quan</a></li>
                    <li role="presentation"><a href="#">Nhân sự</a></li>
                    <li role="presentation"><a href="#">Xe</a></li>
                    <li role="presentation"><a href="#">Chuyến đi</a></li>
                </ul>
            </div>
        </div>






        <!-- END: Thanh điều hướng -->