{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}

{# Master Page #}
{% extends 'master_page/masterpage_accountant.html' %}

{# Nội dung trang #}
{% block body_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2" id="leftCol">
            <div class="sidebar-wrapper">
                <ul class="nav nav-stacked" id="sidebar">
                    <li role="presentation" class="active"><a href="#">Tổng quan</a></li>
                    <li role="presentation"><a href="#">Nhân sự</a></li>
                    <li role="presentation"><a href="#">Xe</a></li>
                    <li role="presentation"><a href="#">Chuyến đi</a></li>
                </ul>
            </div>
        </div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-4">
					<div id="chart-container-employee">
					</div> 
				</div>
				<div class="col-md-1"></div>
				<div class="col-xs-7">
					<ul class="nav nav-tabs">
						<h3>Thống kê chuyến đi</h3>
						<li class="active"><a data-toggle="tab" href="#trips">Theo số lượng<br> chuyến đi</a></li>
						<li><a data-toggle="tab" href="#price">Theo <br>tổng tiền</a></li>
						<li><a data-toggle="tab" href="#km">Theo <br>tổng km</a></li>
					</ul>
					<div class="tab-content" style="height: 500px;width: 600px;">
						<div id="trips" class="tab-pane fade in active">

						</div>
						<div id="price" class="tab-pane fade">

						</div>
						<div id="km" class="tab-pane fade">

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<button type="button" class="btn btn-primary btn-lg">Hiện công ty có 200 xe</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}{{ parent() }}
<script type="text/javascript" src="{{ base_url('vendor/bower/chart-beta/canvasjs.min.js') }}"></script>
<script type="text/javascript">
$(function() {
	var chart1 = new CanvasJS.Chart('chart-container-employee',
			{
				title: {
					text: 'Nhân sự',
					fontFamily: 'Time new Roman'
				},
				animationEnabled: true,
				legend: {
					verticalAlign: 'bottom',
					horizontalAlign: 'center'
				},
				theme: 'theme1',
				data: [
					{
						type: 'pie',
						indexLabelFontFamily: 'Time new Roman',
						indexLabelFontSize: 20,
						indexLabelFontWeight: 'bold',
						startAngle: 0,
						indexLabelFontColor: 'MistyRose',
						indexLabelLineColor: 'darkgrey',
						indexLabelPlacement: 'inside',
						/*toolTipContent: '{name}: {y}hrs',*/
						showInLegend: true,
						indexLabel: '#percent%',
						dataPoints: [
							{y: 52, name: 'Tài xế', legendMarkerType: 'triangle'},
							{y: 44, name: 'Kế toán', legendMarkerType: 'square'},
						]
					}
				]
			});
	//Better to construct options first and then pass it as a parameter
	var trips = new CanvasJS.Chart('trips', {
		title: {
			text: 'Biểu đồ thể hiện số lượng chuyến đi'
		},
		animationEnabled: true,
		data: [
			{
				type: 'spline', //change it to line, area, bar, pie, etc
				dataPoints: [
					{y: 10},
					{y: 6},
					{y: 14},
					{y: 12},
					{y: 19},
					{y: 14},
					{y: 26},
					{y: 10},
					{y: 22}
				]
			}
		],
		axisX: {
			labelFontSize: 14
		},
		axisY: {
			labelFontSize: 14
		}
	});
	
	var km = new CanvasJS.Chart('km', {
		title: {
			text: 'Biểu đồ thể hiện tổng số km'
		},
		data: [
			{
				type: 'spline', //change it to line, area, bar, pie, etc
				dataPoints: [
					{y: 10},
					{y: 6},
					{y: 14},
					{y: 12},
					{y: 19},
					{y: 14},
					{y: 26},
					{y: 10},
					{y: 22}
				]
			}
		],
		axisX: {
			labelFontSize: 14
		},
		axisY: {
			labelFontSize: 14
		}
	});
	var price = new CanvasJS.Chart('price', {
		title: {
			text: 'Biểu đồ thể hiện tổng tiền chuyến đi'
		},
		data: [
			{
				type: 'spline', //change it to line, area, bar, pie, etc
				dataPoints: [
					{y: 10},
					{y: 6},
					{y: 14},
					{y: 12},
					{y: 19},
					{y: 14},
					{y: 26},
					{y: 10},
					{y: 22}
				]
			}
		],
		axisX: {
			labelFontSize: 14
		},
		axisY: {
			labelFontSize: 14
		}
	});
	price.render();
	km.render();
	
	trips.render();
	chart1.render();

});
</script>
{% endblock %}